*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache

# dependencies
/angular-client/node_modules

# profiling files
/angular-client/chrome-profiler-events.json
/angular-client/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/angular-client/.vscode/*
/angular-client/!.vscode/settings.json
/angular-client/!.vscode/tasks.json
/angular-client/!.vscode/launch.json
/angular-client/!.vscode/extensions.json
/angular-client/.history/*

# misc
/angular-client/.sass-cache
/angular-client/connect.lock
/angular-client/coverage
/libpeerconnection.log
/angular-client/npm-debug.log
/angular-client/yarn-error.log
/angular-client/testem.log
/angular-client/typings

# System Files
/angular-client/.DS_Store
/angular-client/Thumbs.db
