<div class="row">
    <div class="col-lg-2"></div>
  <div class="col-lg-8" [ngBusy]="{busy:loading}">
      <p><b>{{pagedCreditCardsList?.totalItems}}</b> CREDIT CARDS</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bank</th>
          <th scope="col">Card number</th>
          <th scope="col">Expiry date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cc of pagedCreditCardsList?.list; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ cc.bankName }}</td>
          <td>{{ cc.cardNumber }}</td>
          <td>{{ cc.expiryDate | date:'MMM/yyyy' }}</td>
        </tr>
        </tbody>
      </table>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row">
  <div class="col-lg-8"></div>
  <div class="col-lg-2">
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pagedCreditCardsList?.totalItems" 
      [pageSize]="pagedCreditCardsList?.pageSize" [page]="pagedCreditCardsList?.pageNumber" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>
  </div>
</div>
<div class="row">
  <div class="col-lg-8"></div>
  <div class="col-lg-2 text-right">
    <button type="button" class="btn btn-info btn-lg" routerLink="manager">Add new cards</button>
  </div>
</div>